:root {
    --primary: #6d092a;
    --secondary: #811414;
    --text1: black;
    --text2: #F4EDF0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: var(--text1);
}

header {
    display: grid;
    grid-gap: 1rem;
    background-color: var(--secondary);
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    color: var(--text2);
    margin: 5px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    list-style: none;
    display: flex;
    flex-direction: row;
}

nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    color: var(--text2);
    font-weight: 550;
    font-size: larger;
    transition: color 0.3s ease;
}

nav a:hover {
    text-decoration: underline;
    color: var(--primary);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--text2);
    margin: 4px;
    transition: 0.4s;
}

.hamburger.active div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.active div:nth-child(2) {
    opacity: 0;
}

.hamburger.active div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

#menu {
    display: block;
    font-size: 1.5rem;
    background: none;
    color: var(--text2);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.show::before {
    content: "X";
}

.navigation.show li {
    display: block;
}

.navigation {
    list-style: none;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    color: var(--text2);
}

.navigation a:hover {
    text-decoration: underline;
}

main {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, footer {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
    padding: 20px;
}

.temple-card {
    border: 1px solid var(--primary);
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.temple-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.temple-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 15px;
}

footer {
    background-color: var(--secondary);
    color: var(--text2);
    padding: 1em;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        display: none;
        width: 100%;
        text-align: center;
    }

    nav ul li {
        margin: 1em 0;
    }

    .hamburger {
        display: flex;
    }

    nav ul.show {
        display: flex;
    }
}

@media (min-width: 700px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
        gap: 40px;
    }

    .navigation {
        display: flex;
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li {
        display: block;
    }

    #menu {
        display: none;
    }

    .gallery {
        grid-template-columns: repeat(auto-fill, 350px);
        grid-gap: 30px;
        justify-content: center;
        margin: 0 auto;
    }
}